guard/config/env.js
node_modules/
evm-contract/node_modules/
evm-contract/test/node_modules
evm-contract/.env
evm-contract/config/env.js
evm-contract/yarn-error.log
.idea/
ansible/.vagrant/
yarn.lock
package-lock.json
ansible/hosts/edges
ansible/user_config.yml
ansible/.DS_Store