vcl 4.0;

# import directors VMOD
import directors;

# define backend servers
  
{% for origin in origin_ips %}
backend media-origin-{{ loop.index }} {
    .host = "{{ origin }}";
    .port = "6969";
    .probe = {
        .timeout = 2s;
        .interval = 5s;
        .window = 5;
        .threshold = 3;
    }
}
{% endfor %}

# create media-origin director, round robin & health based
sub vcl_init {
    new media-origin = directors.fallback();
    {% for origin in origin_ips %}
    media-origin.add_backend(media-origin-{{ loop.index }});
    {% endfor %}
}

sub vcl_recv {
    # send all traffic to the media-origin director:
    set req.backend_hint = media-origin.backend();
}

acl purge {
    "localhost";
}

sub vcl_recv {
    if (req.http.upgrade ~ "(?i)websocket") {
        return (pipe);
    }
}

sub vcl_pipe {
    if (req.http.upgrade) {
        set bereq.http.upgrade = req.http.upgrade;
        set bereq.http.connection = req.http.connection;
    }
}

sub vcl_recv {
    # Happens before we check if we have this in cache already.
    # Typically you clean up the request here, removing cookies you don't need,
    # rewriting the request, etc.
    
    # Disable cookies
    # unset req.http.Cookie;

    # Purge 
    if (req.method == "PURGE") {
        if (!client.ip ~ purge) {
            return(synth(405,"Not allowed."));
        }
        return (purge);
    }

    if (req.method != "GET" &&
      req.method != "HEAD" &&
      req.method != "PUT" &&
      req.method != "POST" &&
      req.method != "PATCH" &&
      req.method != "TRACE" &&
      req.method != "OPTIONS" &&
      req.method != "DELETE") {
        /* while the visitor is using a non-valid HTTP method */
        return (synth(404, "Non-valid HTTP method!"));
    }

    if (req.method != "GET" && req.method != "HEAD") {
        /* We only deal with GET and HEAD by default */
      return (pass);
    }

    return (hash);
}

sub vcl_backend_response {
    # Happens after we have read the response headers from the backend.
    # Here you clean the response headers, removing silly Set-Cookie headers
    # and other mistakes your backend does.

    # Respect any Cache-Control header from the backend
    if (beresp.http.Cache-Control ~ "(must-revalidate|no-store|no-cache|private)") {
        set beresp.uncacheable = true;
    }

    # Cache certain status codes regardless of what the backend says
    if ((beresp.status == 404 || beresp.status == 410) ||
      (beresp.status >= 500 && beresp.status < 600) ||
      (beresp.status == 200 && beresp.http.content-length == "0")) {
        set beresp.uncacheable = false;
        set beresp.ttl = 1s;
    }

    if (beresp.http.cache-control !~ "s-maxage" &&
        bereq.url ~ "\.(avif|bmp|ejs|jpeg|pdf|ps|ttf|class|eot|jpg|pict|svg|webp|eps|pls|svgz|woff|csv|gif|mid|png|swf|woff2|doc|ico|midi|ppt|tif|xls|docx|jar|otf|pptx|tiff|xlsx|mp4|ts|m4v|m4a|m4s)$") {
        set beresp.uncacheable = false;
        set beresp.ttl = 1w;
    }
}

sub vcl_deliver {
    # Happens when we have all the pieces we need, and are about to send the
    # response to the client.
    # You can do accounting or modifying the final object here.

    # Disable Varnish headers
    unset resp.http.Via;
    unset resp.http.Server;
    unset resp.http.X-Varnish;
    # unset resp.http.s-maxage;

    # Hit or miss log
    if (obj.hits > 0) { # Add debug header to see if it's a HIT/MISS and the number of hits, disable when not needed
        set resp.http.MN-Cache-Status = "HIT";
    } else {
        set resp.http.MN-Cache-Status = "MISS";
    }
}