{
  admin 0.0.0.0:2019
  order bandwidth before header
  #auto_https disable_redirects
  auto_https off
  log {
    format elastic
    output file /var/log/caddy/admin_access.log
  }
}

*.medianetwork.app {
  header Server "MediaEdge v0.0.1 | https://media.network"
  handle /.well-known/acme-challenge/* {
    reverse_proxy http://localhost:7878
  }
  reverse_proxy http://localhost:8080 {
    @hasBandwidthLimit header X-Bandwidth-Limit Yes
    handle_response @hasBandwidthLimit {
      bandwidth {
        limit 50000
      }
      reverse_proxy http://localhost:8080
    }
  }
  tls /path/to/mounted_certificates/{host}/fullchain.pem /path/to/mounted_certificates/{host}/privkey.pem
  log {
    format elastic
    output file /var/log/caddy/access.log
  }
}

https:// {
  header Server "MediaEdge v0.0.1 | https://media.network"
  handle /.well-known/acme-challenge/* {
    reverse_proxy http://localhost:7878
  }
  reverse_proxy http://localhost:8080 {
    @hasBandwidthLimit header X-Bandwidth-Limit Yes
    handle_response @hasBandwidthLimit {
      bandwidth {
        limit 50000
      }
      reverse_proxy http://localhost:8080
    }
  }
  tls /path/to/mounted_certificates/{host}/fullchain.pem /path/to/mounted_certificates/{host}/privkey.pem
  log {
    format elastic
    output file /var/log/caddy/access.log
  }
}

http:// {
  header Server "MediaEdge v0.0.1 | https://media.network"
  handle /.well-known/acme-challenge/* {
    reverse_proxy http://localhost:7878
  }
  reverse_proxy http://localhost:8080 {
    @hasBandwidthLimit header X-Bandwidth-Limit Yes
    handle_response @hasBandwidthLimit {
      bandwidth {
        limit 50000
      }
      reverse_proxy http://localhost:8080
    }
  }
  log {
    format elastic
    output file /var/log/caddy/access.log
  }
}