import { Env } from "./interfaces";

export const env: Env = {
    MARKETPLACE_ID: 1,
    dbName: "origin",
    dbUser: "origin",
    dbPassword: "changeme1234",
    dbHost: "postgres-origin",
    dbPort: 5432,
    dbDialect: "postgres",
    caddyUrl: "http://caddy-origin:2020/",
    email: "admin@yourdomain.com",
    elasticSearchUrl: "http://es01:9200",
    debug: true,
    providers: [
        {
            wallet_address: "0x0000000000000000000000000000000000000000",
            privateKey: "0x0000000000000000000000000000000000000000000000000000000000000000",
            supportedChains: [
                {
                    id: 11155111,
                },
                {
                    id: 84532,
                }
            ],
            domains: [
                {
                    host: "yourdomain.com",
                    a_record: ["123.45.67.89"],
                    cname: "cname.yourdomain.com",
                    dns_provider: "cloudflare",
                    env_vars: {
                        CF_API_TOKEN: "xxxxx",
                    }
                }
            ]
        },
    ],
};
