vcl 4.0;

# Default backend definition. Set this to point to your content server.
backend default {
    .host = "127.0.0.1";
    .port = "80";
}

import std;

acl purge {
    "localhost";
}

sub vcl_recv {
    # upgrade websocket requests
    if (req.http.upgrade ~ "(?i)websocket") {
        return (pipe);
    }

    if (req.method == "PURGE") {
        if (!client.ip ~ purge) {
            return(synth(405,"Not allowed."));
        }
        if (req.http.X-Purge-Method == "regex") {
            ban("obj.http.x-url ~ " + req.url + " && obj.http.x-host ~ " + req.http.host);
            return (synth(200, "Banned"));
        }
        return (purge);
    }

    if (req.method != "GET" &&
      req.method != "HEAD" &&
      req.method != "PUT" &&
      req.method != "POST" &&
      req.method != "PATCH" &&
      req.method != "TRACE" &&
      req.method != "OPTIONS" &&
      req.method != "DELETE") {
        /* while the visitor is using a non-valid HTTP method */
        return (synth(404, "Non-valid HTTP method!"));
    }

    if (req.method != "GET" && req.method != "HEAD") {
        /* We only deal with GET and HEAD by default */
      return (pass);
    }

    return (hash);
}

sub vcl_pipe {
    if (req.http.upgrade) {
        set bereq.http.upgrade = req.http.upgrade;
        set bereq.http.connection = req.http.connection;
    }
}

sub vcl_backend_response {
    # Happens after we have read the response headers from the backend.
    # Here you clean the response headers, removing silly Set-Cookie headers
    # and other mistakes your backend does.

    set beresp.http.x-url = bereq.url;
    set beresp.http.x-host = bereq.http.host;

    # Respect any Cache-Control header from the backend
    if (beresp.http.Cache-Control ~ "(must-revalidate|no-store|no-cache|private)") {
        set beresp.uncacheable = true;
    } else {
        if (beresp.http.Cache-Control !~ "(maxage|s-maxage)") {
            set beresp.ttl = 1s;
            set beresp.grace = 1y;
            set beresp.keep = 1y;
        }
    }

    # Cache certain status codes regardless of what the backend says
    if ((beresp.status == 404 || beresp.status == 410) ||
      (beresp.status >= 500 && beresp.status < 600) ||
      (beresp.status == 200 && beresp.http.content-length == "0")) {
        set beresp.uncacheable = false;
        set beresp.ttl = 1s;
    }

    if (beresp.http.cache-control !~ "maxage" &&
        bereq.url ~ "\.(avif|bmp|ejs|jpeg|pdf|ps|ttf|class|eot|jpg|pict|svg|webp|eps|pls|svgz|woff|csv|gif|mid|png|swf|woff2|doc|ico|midi|ppt|tif|xls|docx|jar|otf|pptx|tiff|xlsx|mp4|ts|m4v|m4a|m4s|txt|js)$") {
        set beresp.uncacheable = false;
        set beresp.ttl = 1y;
    }
}


# Only handle actual PURGE HTTP methods, everything else is discarded
sub vcl_purge {
  if (req.method == "PURGE") {
    # restart request
    set req.http.X-Purge = "Yes";
    return (restart);
  }
}

sub vcl_deliver {
    # Happens when we have all the pieces we need, and are about to send the
    # response to the client.
    # You can do accounting or modifying the final object here.

    # Disable Varnish headers
    unset resp.http.Via;
    unset resp.http.Server;
    unset resp.http.X-Varnish;
    # unset resp.http.s-maxage;
    unset resp.http.x-url;
    unset resp.http.x-host;

    # Hit or miss log
    if (obj.hits > 0) { # Add debug header to see if it's a HIT/MISS and the number of hits, disable when not needed
        set resp.http.MN-G-Cache-Status = obj.hits;
    } else {
        set resp.http.MN-G-Cache-Status = 0;
    }
}