# Media Edge configuration file

# Specify your wallet configuration, network, and other settings here.

# *** CAUTION *** To prevent fund losses, it is recommended to use two separate wallets: one for staking and one for decryption. The staking wallet is used to manage registration (staking) and provider management. This wallet will have access to your funds, so it is important to keep it secure and separate from the decryption wallet. The decryption wallet is used to decrypt your clients' resources. Its public key should be provided to the app during registration so that your clients can later use it to encrypt the keys needed to decrypt their resources. The private key or mnemonic for the decryption wallet should be provided in this file, while the mnemonic for the staking wallet should never be shared or stored on a server.

# The `providers` section contains details about the wallets, networks, and DNS configuration used in Media Edge.
# Each wallet can be identified either by a mnemonic phrase or by a private key.
# The `wallet_address` field specifies the address of the provider wallet.
# The `mnemonic` field specifies the mnemonic phrase for the decryption wallet.
# The `accountIndex` field is optional and specifies the index of the account within the mnemonic (defaults to 0 if not provided).
# The `privateKey` field specifies the private key for the decryption wallet. It must have the following format: "0x<64-character hexadecimal string>".
# The `supportedChains` field lists the network IDs where you are providing services. Remember that you need to register and create offers on each network independently.
# The `cname` field specifies the CNAME that you will provide to your clients so they can use custom domains. Adding an A record for `*.yourdomain.com` that points to all your edge IPs is mandatory; if you use a record such as `cname.yourdomain.com`, it should work automatically.
# The `a_record` field specifies the IP address of your edge servers. If you have more than one, list all IPs by separating them with commas.

# Example configuration:
providers:
  -    
    wallet_address: "0x0000000000000000000000000000000000000000" # Address of the "staking" wallet (1st wallet).

    # Decryption wallet configuration (2nd wallet)
    mnemonic: "media media media media media media media media media media media" # Any twelve-word BIP39 mnemonic phrase will work in this field.
    accountIndex: 1 # The index of the account within the mnemonic (defaults to 0 if not provided).
    # If you prefer to use a private key instead of a mnemonic phrase, uncomment and fill in the following line, and comment out the `mnemonic` and `accountIndex` fields.
    #privateKey: "0x0000000000000000000000000000000000000000000000000000000000000000" 
    supportedChains: [11155111, 84532] # List of network IDs to support (separated by commas if multiple).
    cname: "cname.yourdomain.com"
    a_record: ["123.45.67.89"] 

# Choose the same networks as specified in `supportedChains` and use custom RPC URLs if needed.
networks:
- id: 11155111 # Network ID (e.g., 11155111 for Ethereum Sepolia).
  URL: "https://sepolia.drpc.org" # RPC URL of the network. If not defined (i.e., commented out), the default RPC from media-sdk will be used.
- id: 84532 # Network ID for Base Sepolia.
  URL: "https://sepolia.base.org"

# Select the marketplace ID. The default marketplace for Media Network is 1.
marketplace_id: 1

# DNS Configuration: Allows Caddy to create TXT records for ACME challenges.
# Leave `lego` and `env_vars` commented out to disable HTTPS (HTTP only).
# A domain is required; otherwise, installation will fail. This domain is used to create endpoints for your clients, and each service you sell will have a unique subdomain under it.
# For extended Lego configuration, check https://go-acme.github.io/lego/dns/#dns-providers to set DNS provider and environment variable settings.
dns_config: 
  lego:  cloudflare
  env_vars: 
  - CLOUDFLARE_DNS_API_TOKEN=<token>
  domains: 
  - yourdomain.com

# PostgreSQL Configuration:
# Provide the PostgreSQL configuration for the origin database where the origin will store its data.
db_host: localhost
db_port: 5432
db_user: origin
db_password: changeme1234
db_name: origin
