# Media Edge configuration file
#
# Specify your wallet address
#
# It should look something to this: "0x00f420693607b8079432296d2E34eb8a9dDC6e7B"
# The use of "" is required otherwise this is taken as a hex number.
wallet_address: "0x81974B05Dc9C1E744CD509b2E11F84897373af7d"

# Please specify the private key for decrypting resources (64 characters)
# It may look something like: 545cdcd19de92805371d9644fa7d5a154e51204e41c8cbc8ff3bc9fdd5083efd
# This should be the private key to the public encryption key provided in the app at provider registering.

# *** CAUTION *** To prevent hacking and fund loss, use a public key from a wallet without funds. Avoid using your main wallet address (staking wallet). 

private_key: 

# Please specify the networks you are providing services (where you are staking your tokens). 
networks: 
- name: ganache
  URL: http://127.0.0.1:8545
  WSS: wss://127.0.0.1:8545
  chain_id: 1
  network_id: 1

# Select the marketplace ID where you are providing services.
marketplace_id: 1

# DNS Configuration: This allows caddy to create TXT records to pass acme challenges. Leave lego and env_vars commented to disable.
# Domain is required, otherwise installation will fail!
# Check https://go-acme.github.io/lego/dns/#dns-providers for providers and env variables settings.
dns_config: 
#  lego: cloudns 
#  env_vars: 
#  - CLOUDNS_SUB_AUTH_ID=<user>
#  - CLOUDNS_AUTH_PASSWORD=<password>
  domains: 
  - medianetwork.app

# Postgres config
postgres_password: kjhn2f3FQ@eh

# Testing server, set to true to provision the server with ganache
testing: false

# Ganache config, set up all the ganache environment. Only if testing is true
persist_ganache_db: true
ganache_host: 0.0.0.0
ganache_port: 8545
ganache_mnemonic: "blue stone rain outer bomb like lounge spoil stuff prison shoe own"
ganache_network_id: 418
ganache_chain_id: 418