# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  
  config.vm.define "origin" do |origin|
    origin.vm.box = "debian/bookworm64"
    origin.vm.box_version = "12.20250126.1"
    origin.ssh.insert_key = false
    origin.vm.network "public_network", ip: "192.168.0.170"
    origin.vm.synced_folder ".", "/vagrant", disabled: true
    origin.vm.provision :shell, path: "scripts/provision.sh"
    origin.vm.provider "virtualbox" do |v|
      v.memory = 8000
      v.cpus = 8
    end
  end

  # config.vm.define "origin2" do |origin2|
  #   origin2.vm.box = "debian/bookworm64"
  #   origin2.vm.box_version = "12.20250126.1"
  #   origin2.ssh.insert_key = false
  #   origin2.vm.network "public_network", ip: "192.168.0.180"
  #   origin2.vm.synced_folder ".", "/vagrant", disabled: true
  #   origin2.vm.provision :shell, path: "scripts/provision.sh"
  #   origin2.vm.provider "virtualbox" do |v|
  #     v.memory = 8000
  #     v.cpus = 8
  #   end
  # end

  config.vm.define "edge" do |edge|
    edge.vm.box = "debian/bookworm64"
    edge.vm.box_version = "12.20250126.1"
    edge.ssh.insert_key = false
    edge.vm.network "public_network", ip: "192.168.0.171"
    edge.vm.synced_folder ".", "/vagrant", disabled: true
    edge.vm.provision :shell, path: "scripts/provision.sh"
    edge.vm.provider "virtualbox" do |v|
      v.memory = 4000
      v.cpus = 8
    end
  end

  # config.vm.define "edge2" do |edge2|
  #   edge2.vm.box = "debian/bookworm64"
  #   edge2.vm.box_version = "12.20250126.1"
  #   edge2.ssh.insert_key = false
  #   edge2.vm.network "public_network", ip: "192.168.0.172"
  #   edge2.vm.synced_folder ".", "/vagrant", disabled: true
  #   edge2.vm.provision :shell, path: "scripts/provision.sh"
  #   edge2.vm.provider "virtualbox" do |v|
  #     v.memory = 4000
  #     v.cpus = 8
  #   end
  # end

end
